<li class="comm" id="comment-<%= comment._id %>">
  <p>
    <%= comment.content %>
    <br />
    <small> <%= comment.user.name %> </small>
    <small class="likes">
      <% if(locals.user){ %>
      <a
        class="toggle-like-button"
        data-likes="<%= comment.likes.length %>"
        href="/likes/toggle/?id=<%= comment._id %>&type=Comment"
      >
        <%= comment.likes.length %> Likes
      </a>
      <% }else{ %> <%= comment.likes.length %> Likes <% } %>
    </small>
  </p>
  <p class="del-com">
    <% if(locals.user && locals.user.id==comment.user){ %>
    <small>
      <a
        class="delete-comment-button"
        href="/comments/destroy/<%= comment.id %>"
        ><i class="fa-solid fa-circle-minus fa-sm"></i
      ></a>
    </small>
    <% } %>
  </p>
</li>
