<li id="post-<%= post._id %>">
  <p class="del">
    <% if(locals.user && locals.user.id==post.user.id){ %>
    <small>
      <a class="delete-post-button" href="/posts/destroy/<%= post.id %>"
        ><i class="fa-solid fa-circle-minus fa-xl"></i
      ></a>
    </small>
    <% } %>
  </p>
  <P class="content">
    <%= post.content %>
    <br />
    <small class="name"> <%= post.user.name %> </small>
    <br />
    <small class="likes">
      <% if(locals.user){ %>
      <a
        class="toggle-like-button"
        data-likes="<%= post.likes.length %>"
        href="/likes/toggle/?id=<%=post._id%>&type=Post"
      >
        <%= post.likes.length %> Likes
      </a>
      <% }else{ %> <%= post.likes.length %> Likes <% } %>
    </small>
  </P>
  <div class="post-comment">
    <% if(locals.user){ %>
    <form
      id="post-<%= post._id %>-comments-form"
      action="/comments/create"
      method="POST"
      class="com"
    >
      <input
        type="text"
        name="content"
        placeholder="Type Comment Here..."
        class="write"
        required
      />
      <input type="hidden" name="post" value="<%= post._id %>" />
      <input type="submit" value="Add Comment" class="sub-com" />
    </form>
    <% } %>
  </div>
  <div class="post-comment-list">
    <ul id="post-comment-<%= post._id %>" class="post-comment-list-ul">
      <% for(comment of post.comments){ %> <%- include('_comment'); %> <% } %>
    </ul>
  </div>
</li>
