<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <main id="layout-main">
            <%- include('_header');%>
            <%- body %>
            <%- include('_footer');%>
        </main>
        <%- script %>
    </body>
</html>