<h1>
    Amico | <%= title %>
</h1>

<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
<% if(user.id==profile_user.id){ %>
    <!-- if user matches then show the form-->
    <form action="/users/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name%>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email%>" required>
        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="update">
    </form>
<% }else{ %>
    <!-- else show only the prfile info -->
    <P>Name : <%= profile_user.name %></P>
    <p>Email : <%= profile_user.email %></p>
    <br>
    <!--to add friend button or remove friend button depending on whether friendship exist or not-->
    <a href="/friendships/friends/<%= profile_user.id %>" class="friend-button">
        <button><%= friendStatus %></button>
    </a>
<% } %>
